# Stripe
STRIPE_API_KEY=sk_test_51Jd2V6LES7L97llbNi45MOIQcf2GIVhkmrY4gLldfBhuxnMvWcwYost5BN87naR1YIkXdbfEpbLyftdUyCJQaFke00UXUC2XCr
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=pk_test_51Jd2V6LES7L97llbEiny2rEeNUc3qLlq9sr7FB9veXOXk3AAhk8uV7H5D4g58Q4VVZ0SkfU3wZMwkA1sSxuv8wtv00vxZNfgUD
STRIPE_WEBHOOK_SECRET=whsec_cab8bee1e268577e5e834c57e84228209387ec2587a8f53b26db2f0b420c4519
STRIPE_SUCCESS_URL=http://localhost:3000/posts
STRIPE_CANCEL_URL=http://localhost:3000

# Github
GITHUB_CLIENT_ID=ce1f21366aa831758b2d
GITHUB_CLIENT_SECRET=6d9effdf4680ac2623bad6976ea1b739d9543200

# FaunaDB
FAUNADB_KEY=fnAEdjTDJkAAQ5_vh8NJALvju7P43IPKtDGTc6_r
FAUNADB_DOMAIN=db.us.fauna.com

# JWT
SIGNING_KEY=a4fdbc7bcbc0a8ced82d006701d9df7d